body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#eeeeee;
}

header{
    background:#c8102e;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    background:#333;
    text-align:center;
    padding:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    padding:20px;
}

div{
    background:white;
    padding:15px;
}

img{
    width:100%;
}

table{
    width:100%;
    border-collapse:collapse;
}

table, th, td{
    border:1px solid black;
}

th, td{
    padding:8px;
    text-align:center;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:15px;
}